<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Account Mangement System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <!--<li class="nav-item">
                <a class="nav-link" routerLink="/" style="color: white;">Home</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" style="color: white; font-weight: 600;">Dashboard</a>
          </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="" style="color: white; font-weight: 600;">My Transactions</a>
          </li>
            
        </ul>
        <span>
           
        </span>
        <span>
            <a routerLink="/" style="color: white;"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i> Logout</a>
        </span>
      </div>
    </div>
</nav>


<footer>AccountMangement App &copy; 2023</footer>


